.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .swiper-button-next-per-view{
    position: absolute;
    z-index: 10;
    left: -50px;
  }
  .swiper-button-prev-per-view{
    position: absolute;
    z-index: 10;
    right: -50px;
  } */